<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>Controller.LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert1yServlet</servlet-name>
        <servlet-class>Controller.Insert1yServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert2yServlet</servlet-name>
        <servlet-class>Controller.Insert2yServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert3yServlet</servlet-name>
        <servlet-class>Controller.Insert3yServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAll2</servlet-name>
        <servlet-class>Controller.SearchAll2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAll3</servlet-name>
        <servlet-class>Controller.SearchAll3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAll4</servlet-name>
        <servlet-class>Controller.SearchAll4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete3Servlet</servlet-name>
        <servlet-class>Controller.Delete3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete4Servlet</servlet-name>
        <servlet-class>Controller.Delete4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete2Servlet1</servlet-name>
        <servlet-class>Controller.Delete2Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert1yServlet</servlet-name>
        <url-pattern>/Insert1yServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert2yServlet</servlet-name>
        <url-pattern>/Insert2yServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert3yServlet</servlet-name>
        <url-pattern>/Insert3yServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAll2</servlet-name>
        <url-pattern>/SearchAll2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAll3</servlet-name>
        <url-pattern>/SearchAll3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAll4</servlet-name>
        <url-pattern>/SearchAll4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete3Servlet</servlet-name>
        <url-pattern>/Delete3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete4Servlet</servlet-name>
        <url-pattern>/Delete4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete2Servlet1</servlet-name>
        <url-pattern>/Delete2Servlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
